/* Tag Element Selector */
/* h1{
    background-color: pink;

}

ul{
    background-color: aquamarine;
}

h2{
    background-color: blue;
} */

/* ========================================================================= */
/* id base selection  #base selection */

/* #first{
    background-color: blue;
}

#second{
    background-color: pink;
} */

/* =========================================================================== */
/* class base selection */

/* .third{
    background-color: green;
}

.fourth{
    background-color: blueviolet;
} */

/* =============================================================================== */
/* Group base selection */

/* h1, .fourth, #first{
    background-color: aqua;
} */


/* h1{
    background-color: rgba(19, 118, 161, 0.5);
}

h2{
    background-color: hsla(110, 50%, 50%, 0.9);
} */

/* 
h1{
    background-color: #67ed00;
} */


/* ============================================================================================== */
/* Font */

/* h1{
    font-size: 100px;
} */

/* em apne parent element pe depend karega 1em means 1x, 2em -> 2x of parent size */
/* ul{
    font-size: 20px;
}
li{
    font-size: 2em;
} */


html{
    font-size: 40px;
}
/* 1 of root element -> visible screen ke view ke percent ke equal (1vm -> 1% ke equal) */
/* h2{
    font-size: 3rem;
} */
/* 1 of viewport width */
h2{
     font-family: "Roboto Condensed", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
}

/* vh -> view port height */
/* li{
    font-size: 3vh;
} */

/* percentage basis pe size apne parent element se */
/* li{
    font-size: 50%;
} */
